<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="BD" connectionString="data source=ADMIN-TIMUR\ADMINSQL;initial catalog=Diplom;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>